{% extends "layout.html" %}

{% block content %}
<br></br>
<table border="2" bgcolor="33FF61" align="center">
<form action="" method="POST">{% csrf_token %}
  <tr>
    <th colspan="2">EDITAR TAREA</th>
  </tr>
  <tr>
    <td>Nombre:</td><td>{{ form.tarea }}</td>
  </tr>
  <tr>
    <td>Nivel:</td><td>{{ form.id_n }}</td>
  </tr>
  <tr>
    <td>Prioridad</td><td>{{ form.id_prioridad }}</td>
  </tr>
  <tr>
    <th colspan="2"><button type="submit" style="width:230px">Confirmar</button></th>
  </tr>
</form>
</table>
<br>
<table align="center">
  <tr>
    <th colspan="2" align="center">{{ message }}</th>
  </tr>
</table>
{% endblock %}
