{%  extends "layout.html" %}
{% block title %}SubTarea{% endblock %}
{% block content %}
  <br></br>
  <table border="2" bgcolor="33FF61" align="center">
  <form action="" method="POST">{% csrf_token %}
    <tr>
      <th colspan="2">NUEVA SUB-TAREA</th>
    </tr>
    <tr>
      <td>Nombre:</td><td>{{ formSubTarea.starea }}</td>
    </tr>
    <tr>
      <td>Nivel:</td><td>{{ formSubTarea.id_prioridad }}</td>
    </tr>
    <tr>
      <th colspan="2"><button type="submit" style="width:230px">Crear</button></th>
    </tr>
  </form>
  </table>
{% endblock %}
